title OSI Maritime - Professional Development Plan
script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
link(rel='stylesheet', href='/bootstrap4/css/bootstrap.min.css')
link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
script(src='/bootstrap4/js/bootstrap.min.js')
link(rel='stylesheet', href='/css/styles.css', type='text/css')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
script(src='/js/functions.js')
script.
    var userData = !{JSON.stringify(user)}
    var goals = !{JSON.stringify(goal)}
    var actions = !{JSON.stringify(action)}
    var checkins = !{JSON.stringify(checkin)}
    var goalReview = !{JSON.stringify(goal_review)}
    var goalPrep = !{JSON.stringify(goal_prep)}